<html>
  <head>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main">

    {{>header}}
    <p>this is the creator e-mail{{Email}}</p>
    <img class="coffee-img" src="./img/coffee1.jpg" />
    </div>
    {{>footer}}

  </body>
</html>