<html lang="en">
  <head>
    <link rel="stylesheet" href="./css/style.css" />
    <title>404 Error</title>
    <!-- You can add additional meta tags, stylesheets, or scripts here -->
  </head>
  <body>
    <div class="main">

    {{>header}}
    <p>{{errorMessage}}</p>
    </div>
    {{>footer}}
  </body>
</html>